# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
polygon.pem

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# VS Code
.vscode/

# Market Data SQLite databases
market_data_db/
*.db

# Cache
cache/
django_cache_table

# Static files
staticfiles/
static_root/

# Temporary files
*.tmp
*.temp
.DS_Store
